<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Initial Investment</label>
      <input
        id="initial-investment"
        name="initial-investment"
        type="number"
        [(ngModel)]="enterdInitialInvestment"
      />
    </p>
    <p>
      <label for="anual-investment">Anual Investment</label>
      <input
        id="anual-investment"
        name="anual-investment"
        type="number"
        [(ngModel)]="enteredAnualInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input
        id="expected-return"
        name="expected-return"
        type="number"
        [(ngModel)]="enteredExpectedReturn"
      />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input
        id="duration"
        type="number"
        [(ngModel)]="enteredDuration"
        name="duration"
      />
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
